<div class="container" >
  <p align="center">
    <%= form_for [parent_comment, Comment.new], :remote => true  do |f| %>
<div class="row">
        <div class="col-sm-1"><%= gravatar_for current_user , :size => 32 %></div>
        <div class="col-sm-11"><%= f.text_field :body, :class => 'form-control', :placeholder => "Add new reply" %></div>
      </div>
      <br>
      <%= f.submit 'Add new reply', :class => 'btn btn-primary btn-block' %>
  <% end %>
  </p>
</div>