
<div class="container">
<p align="center"><h1><strong><kbd>New comment</kbd></strong></p>

<%= form_for(@comment, url: { action: "create" }) do |f| %>
<div class="control-group">
<div class="controls">
<%= f.text_area :body, :class => 'form-control', :placeholder => "Enter comment" %>
<br>
<%= f.submit nil, :class => 'btn btn-primary btn-block ' %>
</div>
<%  end %>
