<div class="container">
  <table class="table table-bordered">
    <thead>
    <tr class="danger">
      <th>Firstname</th>
      <th>Lastname</th>
    </tr>
    </thead>
    <tbody>
<% @users.each do |user| %>
        <tr >
          <td><%= link_to user.name, user_path(user) %></td>
          <td><%=  %><% user.rating.times do |i| %>
                <%= image_tag("rating.png", size: "20x20", alt: "Star") %>
            <% end %></td>

        </tr>
  <% end %>
    </tbody>
  </table>

<%= link_to 'Back', url_for(:back), :class => 'btn btn-primary btn-block' %>
</div>