<!DOCTYPE html>
<html>
<head>

  <script type="text/javascript">
<!--
var message = "MyApp- final";
var message = message+" ";
i="0";
var temptitle="";
var speed="150";
function titler() {
    if (!document.all&&!document.getElementById) return;
    document.title=temptitle+message.charAt(i);
    temptitle=temptitle+message.charAt(i);
    i++;
    if(i==message.length) {
        i="0";
        temptitle="";
    }
    setTimeout("titler()",speed);
}
window.onload=titler;
// -->
</script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
